.card{
  width: 90%;
  max-width: 300px;
  background-color: #FBFBFB;
  border-radius: 10px;
  padding: 24px;
  text-align: center;
}

.recipeImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

.card :is(h3){
  font-size: 20px;
  font-weight: 700;
  margin: 0.5rem 0;
}

.card :is(h4){
  display: inline-block;
}

.scores{
  color: #808BA8;
  font-size: 14px;
  font-weight: 700;
}

.scores :is(img){
  position: relative;
  top: 8px;
  margin-right: 0.5rem;
}
.scoreHeart{
  margin-right: 1.5rem;
}

.diets{
  margin: 1rem auto;
}