.detailCard{
  background-color: #DEE8FF;
  min-height: 100vh;
}

.card{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.successMessage{
  text-align: center;
  margin-bottom: 2rem;
  color: #007200;
}

.containerImage{
  text-align: center;
}

.recipeImage{
  width: 308px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  text-align: center;
}

.summary{
  word-break: break-word;
}